div {
    background: black;
    margin: 10%q auto;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    position: relative;
}

#box {
    animation-name: rainbow;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#box:hover {
    animation-name: inherit;
    animation-direction: reverse;
    background-color: yellow;
}

#ball {
    position: relative;
    margin: 50px auto;
    background: linear-gradient(#24b32462, #ff00ff64, #ff7b00a3);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

#heart {
    background-color: rgb(252, 45, 45);
    position: relative;
    margin-left: 80%;
    width: 50px;
    height: 50px;
    transform: rotate(135deg);
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.back {
    position: relative;
    margin-left: 80%;
    width: 50px;
    height: 50px;
    transform: rotate(135deg);
    box-shadow: 0px 0px 80px red;
}

#heart::before {
    background-color: rgb(252, 45, 45);
    content: "";
    position: absolute;
    margin-left: 0%;
    width: 50px;
    height: 50px;
    right: 40%;
    border-radius: 50%;
}

#heart::after {
    background-color: rgb(252, 45, 45);
    content: "";
    position: absolute;
    margin-left: 0%;
    width: 50px;
    height: 50px;
    top: 40%;
    border-radius: 50%;
}

@keyframes heartbeat {
    25% {
        transform: scale(2) rotate(90deg);
        opacity: 100%;
    }

    50% {
        transform: scale(0.5) rotate(135deg);
        opacity: 80%;
    }

    75% {
        transform: scale(2) rotate(180deg);
        opacity: 100%;
    }

    90% {
        transform: scale(0.5) rotate(-225deg);
        opacity: 80%;
    }
}

@keyframes bounce {
    0% {
        top: 0px;
    }

    50% {
        top: 50px;
        width: 150px;
        height: 80px;
    }

    75% {
        top: -200px;
        width: 80px;
    }

    90% {
        top: 50px;
        width: 130px;

    }

    100% {
        top: 0px;
        width: 100px;
    }
}

@keyframes rainbow {
    0% {
        background-color: #0000ff;
        top: 0px;
    }

    50% {
        background-color: #00ff00;
        top: 250px;
    }

    100% {
        background-color: #ffff00;
        top: 0px;
    }
}

p {
    color: maroon;
    animation-name: inherit;
}